repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-merge-conflict
        name: " git 路 Detect conflict markers"
      - id: forbid-new-submodules
        name: " git 路 Prevent submodule creation"
      - id: no-commit-to-branch
        name: " git 路 Protect main branches"
        args: ["--branch", "main", "--branch", "master"]
  - repo: https://github.com/tofuutils/pre-commit-opentofu
    rev: v2.2.2
    hooks:
      - id: tofu_fmt
      - id: tofu_docs
      - id: terragrunt_fmt
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.9.1
    hooks:
      - id: commitizen
        name: " git 路 Validate commit message"
        stages: [commit-msg]
